.chat-layout {
    height: 100%;
    display: grid;
    grid-template-rows: 37.5% 62.5%;
}

.chat-layout-upper {
    display:flex;
}

.chat-layout-minimap {
    background-size: 100% 100%;
    flex-grow: 1;
}

.chat-layout-inventory {
    width:62.5%;
}

.chat-layout-minimap-overlay {
    height:100%;
    width:100%;
}