.inventory {
    height: 100%;
    background-size: 100% 100%;

}

.inventory-grid {
    height: 100%;
    display: grid;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:    45% 45%;

    grid-gap: .5rem;

    padding: .75rem 1.5rem;
    box-sizing: border-box;
}

.inventory-item {
    width: 100%;
    height: 100%;
}