.chatbox {
    background-size: 100% 100%;
    font-size: 16pt;
}

/* 

    Chatbox displays

*/

/* The display for when Guido talks */
.chatbox-me-display {
    height: 100%;

    display: grid;
    grid-template-columns: 80% 20%;

    justify-content: center;
}

/* The display for when another talks */
.chatbox-other-display {

    height: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: center;
}

/* The display for when no one talks */
.chatbox-none-display {
    height: 100%;
    display: grid;
    justify-content: center;
}

/* The text display within the chatbox */
.chatbox-text-display {
    display: grid;
    grid-template-rows: 20% 60% 20%;
    justify-content: center;
}

/* The choice display within the chatbox */
.chatbox-choice-display {
    display:grid;
    grid-template-rows: 20% 80%;
    justify-content: center;
    align-items: center;
}

.chatbox-item-display {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: center;
}

/* 

All the styles within the chatbox

*/

/**
 *  Dialogue classes
 */
.chatbox-title{
    align-self: end;
    color: #8b0000;
}

.chatbox-text{
    align-self: center;
    padding: 0 2rem;
}

/**
 *  choice classes
 */
.chatbox-choice {
    margin-bottom: 1rem;
}

/**
 *  Item classes
 */
.chatbox-item-image {
    align-self: center;
    height: 120px;
    width: 120px;
}

.chatbox-item-layout {
    display: grid;
    grid-template-rows: 80% 20%;
}

.chatbox-item-text {
    align-self: center;
    padding: 0 2rem;
    box-sizing: border-box;
    margin-top: 2rem;
}

/**
 *  Input classes
 */
.chatbox-input {
    align-self: center;
}

.chatbox-input-label {
    display: grid;
    grid-gap: 1rem;
    margin-bottom: 1rem
}

.chatbox-input-input {
    background: transparent;
    border: none;
    font-size: 20pt;
    text-align: center;
}

.chatbox-input-submit {
    box-shadow: inset 0px 1px 0px 0px #a6827e;
    background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
    background-color: #7d5d3b;
    border-radius: 3px;
    border: 1px solid #54381e;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #4d3534;
}

.chatbox-choice-title-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chatbox-choice-title {
    margin: 0 3rem;
}

.chatbox-sword {
    height: 5vh;
    width: 10vw;
}

/** 
 *
 * Extra classes 
 *
 */

.chatbox-continue {
    color: #0000FF
}

.chatbox-continue-white {
    color: white;
}

.chatbox-head {
    align-self: center;
    height: 125px;
    border-radius: 5px;
}

.chatbox-head-right {
    justify-self: right;
}

.img-hor {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}