.base {
    height: 100%;
}

.black-screen {
    background: black;
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
}

.show-screen {
    height: 100%;
}

.teleport-animation {
    height: 100%;
}

.fadeOut{
    opacity:0;
    transition: opacity 1000ms ease-in;
}

.fadeIn{
    opacity:1;
    transition: opacity 1000ms ease-in;

}